<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acceso Técnico</ion-card-title>
      <ion-card-subtitle>Ingresa con tu correo y contraseña</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="email" type="email" placeholder="tech1@ott.cl"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password" placeholder="******"></ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="onSubmit()" [disabled]="isSubmitting">
        Ingresar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>