<ion-header>
  <ion-toolbar>
    <ion-title>Mis Órdenes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedStatus" (ionChange)="loadOrders()">
      <ion-segment-button value="ALL">
        <ion-label>Todas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="PENDIENTE">
        <ion-label>Pendiente</ion-label>
      </ion-segment-button>
      <ion-segment-button value="EN_CURSO">
        <ion-label>En curso</ion-label>
      </ion-segment-button>
      <ion-segment-button value="FINALIZADA">
        <ion-label>Finalizada</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let o of orders" (click)="goToDetail(o.id)">
      <ion-label>
        <h2>{{ o.title }}</h2>
        <p>Estado: {{ o.status }} • {{ o.createdAt }}</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-text color="medium" *ngIf="orders.length === 0">
    <p class="ion-padding">No hay órdenes para mostrar.</p>
  </ion-text>
</ion-content>